<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="container-fluid">
  <app-pagetitle title="chat" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          
			
              
              

			<div class="col-md-13">
				<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
					<div class="col-md-9">
						<div class="form-inline float-md-right" >
						  <div class="search-box ml-2">
							<div class="position-relative">
							  <input type="text" class="form-control rounded" placeholder="Search..." (input)="searchDepots()" [(ngModel)]="searchQuery">
							  <i class="mdi mdi-magnify search-icon"></i>
							</div>
						  </div>
						</div>
					  </div>
										
					<div>
						<a href="javascript:void(0);" class="btn btn-success mb-2" (click)="openModal(content)">
						  <i class="mdi mdi-plus mr-2"></i> Add Inventory
						</a>
					  </div>
					
				</div>
				
			</div>
          

<section id="team" class="team_member section-padding" >
	<div class="container"  >				
		<div class="row text-center"  >
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp"  *ngFor="let depott of depots.slice((currentPage - 1) * 8, currentPage * 8)"  data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="our-team" >
					<div class="team_img" >
						<img src="assets/images/Wind.png" alt="team-image">
						<ul class="social">
							<li><a href="javascript:void(0);" ><i class="fa fa-trash" (click)="confirm(depott.iddepot)"></i></a></li>
							<li><a href="javascript:void(0);" ><i class="fa fa-pencil" (click)="openModall(contentt , depott.iddepot)"></i></a></li>
							<li><a href="javascript:void(0);" ><i class="fa fa-arrow-right" [routerLink]="['/chat/article', depott.iddepot]"></i></a></li>
							
						</ul>
					</div>

					<div class="team-content" >
						<h3 class="title" >{{depott.nom}}</h3>
						<span class="post" > {{depott.adresse}} </span> <br>
						<a>Number : {{depott.numero}}</a>
						<div>{{depott.datecreation}}</div>
					</div>
					
				
				</div>
			</div><!--- END COL -->																
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->		
	<div class="col-sm-12 col-md-16">
		<div class="text-md-right float-md-right pagination-rounded">
			<ngb-pagination [collectionSize]="depots.length" [(page)]="currentPage" [pageSize]="8" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" [ellipses]="true"></ngb-pagination>
		</div>
	  </div>
</section>


          
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
	<div class="modal-header">
	  <h5 class="modal-title">Add Inventory</h5>
	  <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body p-3">
	  <div class="text-left">
		<form (ngSubmit)="saveDepot()" >
  
		  <div class="form">
			<label for="name">Name</label>
			<input class="form-control" type="text" [(ngModel)]="depot.nom" name="nom" id="name" placeholder="Enter name">
			
		  </div>
  
		  <div class="form">
			<label for="address"> address</label>
			<input class="form-control" [(ngModel)]="depot.adresse" name="adresse" placeholder="Enter address" >
			
		  </div>
  
		  <div class="form">
			<label>Number </label>
			<input class="form-control" type="number" [(ngModel)]="depot.numero" name="numero" placeholder="Enter number">
			
		  </div>
  

  
		  <div class="form-group">
			<label>Date </label>
			<input class="form-control" [(ngModel)]="depot.datecreation" name="datecreation" type="date"  >
		  </div>

		  
  
		  <div class="text-right">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="button" class="btn btn-danger ml-1" (click)="modal('close click')" >Cancel</button>
		  </div>
		</form>
	  </div>
	</div>
  </ng-template>



  <!-- Contacts model  -->
<ng-template #contentt role="document" let-modal="close">
	<div class="modal-header">
	  <h5 class="modal-title">Update Inventory</h5>
	  <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body p-3">
	  <div class="text-left">
		<form (ngSubmit)="updateDepot()" >
  
		  <div class="form">
			<label for="name">Name</label>
			<input class="form-control" type="text" [(ngModel)]="depot.nom" name="nom" id="name" placeholder="Enter name" 
			  >
			
		  </div>
  
		  <div class="form">
			<label for="address"> address</label>
			<input class="form-control" [(ngModel)]="depot.adresse" name="adresse" placeholder="Enter address" >
			
		  </div>
  
		  <div class="form">
			<label>Number </label>
			<input class="form-control" type="number" [(ngModel)]="depot.numero" name="numero" placeholder="Enter number">
			
		  </div>
  

  
		  <div class="form-group">
			<label>Date </label>
			<input class="form-control" [(ngModel)]="depot.datecreation" name="datecreation" type="date"  >
		  </div>

		  
  
		  <div class="text-right">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="button" class="btn btn-danger ml-1" (click)="modal('close click')" >Cancel</button>
		  </div>
		</form>
	  </div>
	</div>
  </ng-template>
  


 