
<div class="container-fluid">
    <app-pagetitle title="Kanban Board" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div>
              <!--  -->
  
              
            </div>





            
        
            <div class="row">
                <div class="col">
                    <div class="card">
                        
                        <img *ngIf="article?.picture" [src]="'http://localhost:8081/api/v1/file/files/' + article.picture" [alt]="article.picture"  class="img-fluid" />

                        
                </div>
                <div class="project-info-box">
                    <p><b>Category :</b> {{article?.category?.nom}}</p>
                    <p *ngFor="let articlee of article?.depot"><b>Depots :</b> {{articlee.nom}}</p>
                </div>
                </div>
                <div class="col-9">

                    <div class="project-info-box">
                        <p><b>Product Name :</b> {{article?.nom}}</p>
                        <p><b>Reference :</b> {{article?.ref_article}}</p>
                        <p><b>Serial Number :</b> {{article?.num_serie}}</p>
                        <p><b>Bar Code :</b> {{article?.code_barre}}</p>
                        <p><b>Brand :</b> {{article?.marque}}</p>
                        <p><b>Buying Price :</b> {{article?.prixachat}}</p>
                        <p><b>Sell Price :</b> {{article?.prixvente}}</p>
                        <p><b>Quantity :</b> {{article?.quantite}}</p>
                        
                    </div>


                </div>

            </div>
            <div class="card">
                <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <div class="button-items">.
                        <button type="button" class="btn btn-info" (click)="openModal(content)">+ Variant</button>
                    </div>
                    <br>
                    
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>ID</th>
                          <th>Option</th>
                          <th>Sub-option</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let variant of variants">
                          <ng-container *ngFor="let option of getUniqueOptions(variant.sousOptions); let isFirstOption = first">
                            <ng-container *ngIf="isFirstOption; else subOptionRow">
                              <tr>
                                <td [attr.rowSpan]="getRowCount(variant.sousOptions, option)">{{ variant.idvariant }}</td>
                                <td>{{ option.option.nom }}</td>
                                <td>{{ getSubOptionText(variant.sousOptions, option) }}</td>
                              </tr>
                            </ng-container>
                            <ng-template #subOptionRow>
                              <tr>
                                <td>{{ option.option.nom }}</td>
                                <td>{{ getSubOptionText(variant.sousOptions, option) }}</td>
                              </tr>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
        
                  </div>
                </div>
            </div>


            </div>
                

           
              
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #content role="document" let-modal="close">
    <div class="modal-header">
      <h5 class="modal-title">Add Variant</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body p-3">
      <div class="text-left">
      <form  >
    
       
        <div class="treeview" data-mdb-selectable="true">
          <ul>
            <li *ngFor="let optionn of option">
              <a>{{optionn.nom}}</a>
              <ul class="show">
                <li *ngFor="let sousoption of optionn.sous_options">
                  <div class="custom-control custom-checkbox custom-control-right">

                    <input  type="checkbox" 
                    class="custom-control-input"
                     [id]="sousoption.idsousoption" 
                     (change)="toggleSubOption(sousoption.idsousoption)" >
                    <label class="custom-control-label" [for]="sousoption.idsousoption">{{sousoption.nom}}</label>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    

    
        <div class="text-right">
        <button type="submit" class="btn btn-success" (click)="savevariant()">Save</button>
        <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')" >Cancel</button>
        </div>
      </form>
      </div>
    </div>
    </ng-template>