<div class="container-fluid">
  <app-pagetitle title="Customers" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div>
            <!--  -->
            
          </div>
          <div class="table-responsive mt-3">
            <table class="table table-centered datatable dt-responsive nowrap"
              style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <!-- <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customercheck" />
                      <label class="custom-control-label" for="customercheck">&nbsp;</label>
                    </div>
                  </th> -->
                  
                  <th>Company Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Location</th>
                  <th>WebSite</th>
                  <th>Logo</th>
                  <th>active</th>
                  <th style="width: 120px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let adminn of admin; let i= index" >
          

                  <td>{{adminn.name}} </td>
                  <td>{{adminn.email}}</td>
                  <td>{{adminn.tel}}</td>
                  <td>{{adminn.adresse}}</td>
                  <td>{{adminn.site}}</td>
                  
                 
                  <!-- <td>
                    <img [src]="'http://localhost:8081/api/v1/file/files/' + adminn.logo" [alt]="adminn.logo" width="100" class="shadow-4" />
                  
                  </td> -->

                  <td>
                    <img class="fit-picture"  [src]="'http://localhost:8081/api/v1/file/files/' + adminn.logo" height="40px" width="40px"  [alt]="adminn.logo" class="rounded-circle"   alt="image">
                  </td>
                 

                  <td><ui-switch  defaultBoColor="#dfdfdf" color="#34c38f"  [(ngModel)]="adminn.valide"  (ngModelChange)="activeadmin(adminn.id ,adminn)"  class="ml-1" ></ui-switch></td>
                  <td>
                    <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete">
                      <i class="mdi mdi-trash-can font-size-18"  (click)="confirm(adminn.id)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




