<div class="container-fluid">
    <app-pagetitle title="stock manager" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div>
              <!--  -->
  
              <div class="col-md-13">
                  <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                      
                                          
                      <div>
                          <a href="javascript:void(0);" class="btn btn-success mb-2" [routerLink]="['/user/adduser']" >
                            <i class="mdi mdi-plus mr-2"></i> Add User
                          </a>
                        </div>
                      
                  </div>
                  
              </div>
              
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-centered datatable dt-responsive nowrap"
                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">
                  <tr>
                    <!-- <th style="width: 20px;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customercheck" />
                        <label class="custom-control-label" for="customercheck">&nbsp;</label>
                      </div>
                    </th> -->
                    
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>ID number</th>
                    <th>Active</th>
                   
                    <th style="width: 120px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userr of user" >
                    <td>
                      <img class="rounded-circle avatar-md"  [src]="'http://localhost:8081/api/v1/file/files/' + userr.photo" [alt]="userr.photo"    alt="image">
                    </td>

                    <!-- <td>
                    <img class="fit-picture"  [src]="'http://localhost:8081/api/v1/file/files/' + userr.photo" [alt]="userr.photo"  height="40px" width="40px"  class="rounded-circle"   alt="image">
                  </td> -->
                    <!-- <td>
                      <img [src]="'http://localhost:8081/api/v1/file/files/' + userr.photo" [alt]="userr.photo" width="100" class="shadow-4" />
                    
                    </td> -->
                    <td>{{userr.name}}</td>
                    <td>{{userr.email}}</td>
                    <td>{{userr.city}}</td>
                    <td>{{userr.cin}}</td>
                    <td><ui-switch  defaultBoColor="#dfdfdf" color="#34c38f"  [(ngModel)]="userr.valide"  (ngModelChange)="activeadmin(userr.id ,userr)"  class="ml-1" ></ui-switch></td>
                    <td>
                        <a href="javascript:void(0);" class="mr-2 text-primary" v-b-tooltip.hover title="View" (click)="extraLarge(exlargeModal ,userr.id)">
                            <i class="mdi mdi-eye font-size-18"></i></a>

                      
  
                      <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete" >
                        <i class="mdi mdi-trash-can font-size-18" (click)="confirm(userr.id)"></i>
                      </a>
  
                    </td>
  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
<!-- Extra Large Modal -->
<ng-template #exlargeModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Detail User </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container bootstrap snippets bootdey">
    <!-- <div class="panel-body inf-content"> -->
        <div class="row">
            <div class="col-md-4">
                <!-- <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" [src]="'http://localhost:8081/api/v1/file/files/' + userr.photo" data-original-title="Usuario">  -->
                <img class="img-circle img-thumbnail isTooltip" style="width:600px;"  [src]="'http://localhost:8081/api/v1/file/files/' + gestionaire.photo" [alt]="gestionaire.photo"     alt="image">
            </div>
            <div class="col-md-6">
                <strong>Information :</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                              <strong class="bold-label">ID card</strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.cin}}    
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.name}}       
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Email                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.email}} 
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Phone Number                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.tel}} 
                            </td>
                        </tr>
    
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Date Of Birthday                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.dateOfBirthday}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Address                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.address}}   
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Country                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.country}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    City                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                              {{gestionaire.city}} 
                            </td>
                        </tr>     
                        <tr>        
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Code Postal                                                
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{gestionaire.codePostal}} 
                          </td>
                      </tr>  
                      <tr>        
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                Description                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                          {{gestionaire.description}} 
                        </td>
                    </tr>                             
                    </tbody>
                </table>
                </div>
            <!-- </div> -->
        </div>
    </div>
    </div>                                        
</ng-template>