<div class="container-fluid">
  <app-pagetitle title="Option" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div>
            <!--  -->

            <div class="col-md-13">
				<div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
					

          
										
					<div>
						<a href="javascript:void(0);" class="btn btn-success mb-2" (click)="openModal(content)">
						  <i class="mdi mdi-plus mr-2"></i> Add Option
						</a>
					  </div>
					
				</div>
				
			</div>
            
          </div>
          <div class="table-responsive mt-3">
            <table class="table table-centered datatable dt-responsive nowrap"
              style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
                <tr>
               
                  
                  <th> Option</th>
                  <th> Sous_option</th>
                  <th style="width: 120px;">Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let optionn of options">
                  <td>{{ optionn.nom }}</td>
                  <td>
                    <ng-container *ngFor="let sousoption of optionn.sous_options">
                      {{ sousoption.nom }}
                      <br>
                    </ng-container>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="mr-2 text-primary" ngbTooltip="Edit" [routerLink]="['/edit-option' , optionn.idoption]" ><i
                      class="mdi mdi-pencil font-size-18"></i></a>

                  <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete" (click)="confirm(optionn.idoption)">
                    <i class="mdi mdi-trash-can font-size-18"  ></i>
                  </a>
                  </td>
                </tr>

               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
	<div class="modal-header">
	  <h5 class="modal-title">Add Option</h5>
	  <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body p-3">
	  <div class="text-left">
		<form [formGroup]="validationForm" (ngSubmit)="saveOption()" >
  
		  <div class="form">
			<label for="name">Name</label>
			<input class="form-control" type="text" [(ngModel)]="option.nom" formControlName="nom" name="nom"  placeholder="Enter Name" >
      <div *ngIf="validationForm.get('nom').invalid && (validationForm.get('nom').touched || submitted)" class="text-danger">
        <div *ngIf="validationForm.get('nom').errors.required">
          Name is required.
        </div>
      </div>
		  </div>
  
		 
  
		  <div class="text-right">
			<button type="submit" class="btn btn-success" >Save</button>
			<button type="button" class="btn btn-danger ml-1" (click)="modal('close click')" >Cancel</button>
		  </div>
		</form>
	  </div>
	</div>
  </ng-template>




